@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    margin: 0;
    /* background-color: rgb(20, 20, 20); */
    background-image: linear-gradient(to bottom right, rgb(17, 17, 17), rgb(7, 7, 7));
    font-family: "Montserrat";
}


.signature {
    background-image: url(/images/signature-white.png);
    background-size: cover;
    background-position: center;
    width: 9vw;
    height: 9vw;
    position: absolute;
    /* background-color: aquamarine; */
    top: 1%;
    left: 4%;
    transform: translateY(-1%);

}

.signature:hover {
    cursor: pointer;
    background-image: url(/images/signature.png)
}

.signature:active {
    cursor: pointer;
    background-image: url(/images/signature.png)
}

.hero {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(/images/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    position: absolute;
    top: 47.5%;
    left: 8%;
    /* transform: translate(0%,40%); */
    transform: translateY(-47.5%);
}

#loader {
    border: 8px solid #dddddd;
    border-radius: 50%;
    /* box-shadow: rgba(255, 255, 255, 0.24) 0px 2px 7px; */
    border-top: 8px solid #11111100;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    color: white;
    font-size: 90px;
    font-family: "Raleway";
    font-weight: 700;
}

.space-out {
    width: 88vw;
}

h3 {
    color: white;
    font-family: "Raleway";
    transition: letter-spacing 4s;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3em;
    animation: airplane 2.5s ease-in reverse;
    max-lines: 1;
}

h3:hover {
    letter-spacing: calc(100vw / 26);
}

@keyframes airplane {
    0% {
        letter-spacing: 0.3em;
    }

    100% {
        letter-spacing: calc(100vw / 26);
    }
}

h6 {
    color: white;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 600;
}

p {
    color: white;
    font-size: 18px;
}

p.multi {
    color: white;
    font-size: 18px;
    text-align: center;
}

strong {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.gradient {
    width: 100%;
    padding: 120px 0px;
    background-image: linear-gradient(to bottom right, rgb(17, 17, 17), rgb(7, 7, 7));
}

.content2 {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100px;
    height: 100px;
    padding: 15px;
    justify-content: center;
    border-radius: 50%;
    background: rgb(14, 14, 14);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 20px #000;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.25);
}

.myself {
    width: 260px;
    height: 260px;
    background-size: cover;
    background-position: center;
    background-image: url("images/stuz0r.jpg");
    filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.4));
    border-radius: 8px;
}

.card img {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100px;
    transform: translate(-50%, -50%);
}

/* .card button {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
    color: #fff;
    transition: 0.4s all;
    cursor: pointer;
} */

.third {
    width: 100%;
    background-image: radial-gradient(100% 316.05% at 0% 0%, #082f4b 0%, #000305 100%);
    background-size: cover;
    background-position: center;
}

.content3 {
    padding: 240px 0px 300px 8vw;
}

.content3 b {
    font-weight: 500;
}

.content4 {
    padding: 0px 0px 15px 0px;
    text-align: center;
}

.column {
    padding: 70px 0px 0px 0px;
    display: flex;
    justify-content: center;
}